<!-- app/views/users/new.html.erb -->


<div class="container">
  <div class="row justify-content-center">
    
      <div class="col-md-6">
        <h1 class="mb-4">新規登録</h1>
        <%= render 'shared/error_messages', user: @user  %>
        <%= render 'form', user: @user  %>
      </div>
  </div>
</div>