<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="mb-4">User Profile</h1>
      <%= render 'profile', user: @user %> <!-- パーシャルを呼び出してユーザー情報を表示 -->
    </div>
  </div>
</div>
