<%# # app/views/food_posts/edit.html.erb %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <%= render 'form', food_post: @food_post, title: "投稿の編集" %>
    </div>
  </div>
</div>