<%# # app/views/food_posts/new.html.erb %>
<%# # app/views/food_posts/new.html.erb %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <%= render 'form', food_post: @food_post, title: "新規投稿" %>
    </div>
  </div>
</div>